header {
    background-color: black;
    color: white;
    position: fixed; 
    width: 100%; 
    top: 0;
  }

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed; 
    width: 100%; 
    bottom: 0;
  }

  body {
    margin:0;
}

.nosotros {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.asignaturas {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.content{
display: flex;
flex-direction: row;
}
.contacto {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.asignatura1,
.asignatura2,
.asignatura3 {
  flex: 1;
  text-align: center;
}

input[type="text"],
textarea {
  width: 100%; 
}

.colocar_nombre,
.colocar_email,
.colocar_mensaje {
    display: flex;
    text-align: left;
}

button {
    background-color: black;
    color: white;
    display: flex;
}

