body {
    background-color:bisque
}

.cart-icon-container {
  position: relative;
  width: 100%;
}

#cartCounter {
  position: absolute;
  left: 15px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(196, 40, 40);
  display: none;
}

#cartCounter.filled {
  display: flex;
}